*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #101C31;
    overflow-y: fragments;
    overflow-x: hidden;
    color : #F2D57E;
}

a{
    color: #D9A566;
}

a:hover{
    color: #B36A8F;
}

h1, h2, h4{
    color: #D9A566;
}

p{
    color: #F2D57E;
    text-align: justify;
    padding: 20px;
}

form{
	text-align: center;
	display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.espace{
    padding: 10px;
}

form .checkbox{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

form .checkbox label{
    padding: 10px;
}